@import url("cabecalho.css");
@import url("cartao.css");
@import url("corpo.css");
@import url("rodape.css");

*{
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0rem;
    padding:0rem;


}
body{
   /* border: .2rem solid rgb(19, 175, 149);*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
   /* border: 0.2em solid red;*/
    height: 4rem;
    display: flex;
    padding: o.5rem;
    align-items: center;
    align-content: center;
    padding: .5rem;
    background-color: rgb(30, 32, 32);
    color: rgb(240, 220, 195);
}
.logo{
   border:2rem solid rgb(30, 63, 155);
    background-color: rgb(20, 44, 110);
    color: antiquewhite;
    font-weight: bold;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .07rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
   flex: 1;

}
section {
    /*border: .2rem solid blue;*/
    display: flex; 
    flex: 1;
}
nav{
    border: .2rem solid purple;
    width : 10rem; 
    background-color: antiquewhite;
    padding: o.5rem;
}
.conteainer{
    display:flex;
    flex:1;
    padding: 1rem;
    flex-wrap: wrap;
    gap:.8rem;
    justify-content: right;

}
main{
     border: .2rem solid rgb(224, 204, 224);
     flex: 1;
     padding: 0.5;
}
footer{
     border: .2rem solid rgb(22, 76, 78);
    height:4rem;
padding: 0.5rem;
background-color: black;
color: aliceblue;}
.menu-hamburguer{
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .8rem;
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;

}
.menu-hamburguer i {
font: size 1.2em;
color: bisque;
}
.menu-hamburguer:hover i {
    color: red;

}
